CREATE OR ALTER PROCEDURE [dbo].[LX_GS_GERA_IMPOSTO_LOJA_NOTA_FISCAL]
    @CODIGO_FILIAL VARCHAR(6),
    @NF_SAIDA CHAR(15), -- #1# ALTERADO TAMANHO DA VARIAVEL @NF_SAIDA DE 7 PARA 15.
    @SERIE_NF CHAR(6)
AS

-- 07/05/2024 - GS 01.3 - Guilherme Rocha - Comentado NATUREZAS_SAIDAS nao tem em loja
-- 01/10/2021 - GS 01.2 - Lucas Miranda   - Erro ao buscar UF DESTINO
-- 03/02/2020 - GS 01.1 - Lucas Miranda   - GERA IMPOSTO PARA AS LOJAS

BEGIN
    -----------------------------------------------------------------------------------------------------------------------------------------
    -- EFETUA LEITURA DE LINHAS QUE FORAM MODIFICADAS POR OUTRAS TRANSA??ES, MAS QUE AINDA N?O FORAM CONFIRMADAS, N?O NECESSITA USAR NOLOCK --
    -----------------------------------------------------------------------------------------------------------------------------------------
    SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED
    SET NOCOUNT ON
    DECLARE @FILIAL VARCHAR(25),
            @RECRIAR BIT = 0,
            @EXECUTAR_AJUSTE_GRUPO BIT = 1,
            @RECALCULAR_IMPOSTO_AGREGAR BIT = 0
    --Definido constantes dos impostos
    DECLARE @cnICMS SMALLINT,
            @cnIPI SMALLINT,
            @cnIRRF SMALLINT,
            @cnINSS SMALLINT,
            @cnPIS SMALLINT,
            @cnCOFINS SMALLINT,
            @cnIIMPORT SMALLINT,
            @cnIVA SMALLINT,
            @cnRECARGO SMALLINT,
            @cnIRPF SMALLINT,
            @cnDICMS SMALLINT,
            @cnISS SMALLINT,
            @Valor_Imposto_Agregar Numeric(14, 2),
            @Valor_Imposto_Agregar_ant Numeric(14, 2)
    SELECT @cnICMS = 1,
           @cnIPI = 2,
           @cnIRRF = 3,
           @cnINSS = 4,
           @cnPIS = 5,
           @cnCOFINS = 6,
           @cnIIMPORT = 7,
           @cnIVA = 8,
           @cnRECARGO = 9,
           @cnIRPF = 10,
           @cnDICMS = 11,
           @cnISS = 14
    ------------------------------------------------------
    --Informa??es dos impostos
    DECLARE @ID_Imposto tinyint,
            @Imposto varchar(25),
            @Incidencia tinyint,
            @Porcent_Reducao_de_Base numeric(12, 6),
            @Aliquota_Fixa bit,
            @Taxa_Imposto_Excecao numeric(8, 2),
            @Taxa_Imposto numeric(8, 2),
            @Agrega_Apos_Encargo bit,
            @Agrega_Apos_Desconto bit,
            @APLICA_ESPELHO_ENTRADA bit,
            @ISENTO_OU_OUTROS char(1),
            @Calculo_Decimal tinyint,
            @base_adicional numeric(14, 2),
            @indica_consumidor_final bit
    ---------------------------------------------------------
    --Declara??es extras
    declare @cSelect varchar(4000),
            @nTaxa numeric(14, 6),
            @nTaxaAux numeric(14, 6),
            @nBase numeric(14, 6),
            @nBase_Espelho numeric(14, 6),
            @nValor numeric(14, 6),
            @nImposto_Total numeric(14, 6),
            @nAgrega numeric(14, 6),
            @lExisteImposto bit,
            @nID_Excecao_Imposto int,
            @tipo_operacao CHAR(1),
            @CTB_Tipo_Operacao INT,
            @PJ_PF bit,
            @UF_ORIGEM CHAR(2),
            @UF_DESTINO CHAR(2),
            @IPI_CALC numeric(8, 5)
    ----Declara??o das vari?veis dos itens de saida
    DECLARE @ITEM_IMPRESSAO CHAR(4),
            @SUB_ITEM_TAMANHO INT,
            @ID_EXCECAO_IMPOSTO INT,
            @VALOR_ENCARGOS NUMERIC(14, 2),
            @VALOR_DESCONTOS NUMERIC(14, 2),
            @VALOR_ITEM NUMERIC(14, 2),
            @INDICADOR_CFOP TINYINT,
            @valor_encargos_importacao NUMERIC(14, 2),
            @CLASSIF_FISCAL CHAR(10),
            @TERCEIRO VARCHAR(25)
    -- APOIO AO ICMS
    DECLARE @ICMS_SAIDA NUMERIC(14, 6)
    SELECT /*@tipo_operacao = tipo_operacao,*/
        /*@CTB_Tipo_Operacao = LN.CTB_Tipo_Operacao,*/
        @UF_ORIGEM = F.UF,
                                                          --@UF_DESTINO = ISNULL(DC.UF, F.UF), -- GS 01.2
        @UF_DESTINO = isnull(isnull(DV.UF, DC.UF), f.uf), -- GS 01.2
        @indica_consumidor_final = E.INDICA_CONSUMIDOR_FINAL
    FROM LOJA_NOTA_FISCAL AS E WITH (NOLOCK)
        JOIN LOJAS_NATUREZA_OPERACAO LN WITH (NOLOCK)
            ON E.NATUREZA_OPERACAO_CODIGO = LN.NATUREZA_OPERACAO_CODIGO
        --JOIN NATUREZAS_SAIDAS AS N  WITH (NOLOCK) ON LN.NATUREZA_SAIDA = N.NATUREZA_SAIDA COLLATE DATABASE_DEFAULT
        LEFT JOIN CADASTRO_CLI_FOR DC WITH (NOLOCK)
            ON E.COD_CLIFOR = DC.COD_CLIFOR
        LEFT JOIN CLIENTES_VAREJO DV WITH (NOLOCK)
            ON E.CODIGO_CLIENTE = DV.CODIGO_CLIENTE

        -- GS 01.2
        JOIN LOJAS_VAREJO LV WITH (NOLOCK)
            ON E.CODIGO_FILIAL = LV.CODIGO_FILIAL
        JOIN CADASTRO_CLI_FOR AS F WITH (NOLOCK)
            ON LV.FILIAL = F.NOME_CLIFOR
    WHERE E.CODIGO_FILIAL = @CODIGO_FILIAL
          AND E.NF_NUMERO = @NF_SAIDA
          AND E.SERIE_NF = @SERIE_NF;
    --------------------------------------------------------------------------------------
    DECLARE CUR_ITENS CURSOR LOCAL READ_ONLY FOR
    SELECT ITEM_IMPRESSAO,
           SUB_ITEM_TAMANHO,
           ID_EXCECAO_IMPOSTO,
           VALOR_ENCARGOS,
           VALOR_DESCONTOS,
           VALOR_ITEM,
           INDICADOR_CFOP,
           valor_encargos_importacao = 0,
           CLASSIF_FISCAL
    FROM LOJA_NOTA_FISCAL_ITEM WITH (NOLOCK)
    WHERE CODIGO_FILIAL = @CODIGO_FILIAL
          AND NF_NUMERO = @NF_SAIDA
          AND SERIE_NF = @SERIE_NF;
    OPEN CUR_ITENS
    FETCH NEXT FROM CUR_ITENS
    INTO @ITEM_IMPRESSAO,
         @SUB_ITEM_TAMANHO,
         @ID_EXCECAO_IMPOSTO,
         @VALOR_ENCARGOS,
         @VALOR_DESCONTOS,
         @VALOR_ITEM,
         @INDICADOR_CFOP,
         @valor_encargos_importacao,
         @CLASSIF_FISCAL
    WHILE @@FETCH_STATUS = 0
    BEGIN
        --Zerando base adicional
        select @base_adicional = 0
        DECLARE CUR_IMPOSTOS CURSOR LOCAL READ_ONLY FOR
        SELECT CTB_LX_Imposto_Tipo.ID_Imposto,
               CTB_LX_Imposto_Tipo.Imposto,
               ISNULL(CTB_Excecao_Imposto_Item.Incidencia, CTB_LX_Imposto_Tipo.Incidencia) AS Incidencia,
               ISNULL(CTB_Excecao_Imposto_Item.Porcent_Reducao_de_Base, 0) AS Porcent_Reducao_de_Base,
               CTB_LX_Imposto_Tipo.Aliquota_Fixa,
               ISNULL(CTB_Excecao_Imposto_Item.Taxa_Imposto, 0) AS Taxa_Imposto_Excecao,
               CTB_LX_Imposto_Tipo.Aliquota As Taxa_Imposto,
               ISNULL(CTB_Excecao_Imposto_Item.Agrega_Apos_Encargo, CTB_LX_Imposto_Tipo.Agrega_Apos_Encargo) AS Agrega_Apos_Encargo,
               ISNULL(CTB_Excecao_Imposto_Item.Agrega_Apos_Desconto, CTB_LX_Imposto_Tipo.Agrega_Apos_Desconto) AS Agrega_Apos_Desconto,
               ISNULL(CTB_Excecao_Imposto_Item.APLICA_ESPELHO_ENTRADA, 0) AS APLICA_ESPELHO_ENTRADA,
               ISNULL(CTB_Excecao_Imposto_Item.ISENTO_OU_OUTROS, '') AS ISENTO_OU_OUTROS,
               CTB_LX_Imposto_Tipo.Calculo_Decimal
        FROM CTB_LX_Imposto_Tipo WITH (NOLOCK)
            LEFT JOIN CTB_Excecao_Imposto_ITem WITH (NOLOCK)
                ON CTB_LX_Imposto_Tipo.ID_Imposto = CTB_Excecao_Imposto_Item.ID_Imposto
                   AND ID_Excecao_Imposto = @ID_EXCECAO_IMPOSTO
        WHERE (
                  Gera_na_Saida = 1
                  OR ID_Excecao_Imposto = @ID_EXCECAO_IMPOSTO
              )
        order by ctb_lx_imposto_tipo.id_imposto desc

        OPEN CUR_IMPOSTOS
        FETCH NEXT FROM CUR_IMPOSTOS
        INTO @ID_Imposto,
             @Imposto,
             @Incidencia,
             @Porcent_Reducao_de_Base,
             @Aliquota_Fixa,
             @Taxa_Imposto_Excecao,
             @Taxa_Imposto,
             @Agrega_Apos_Encargo,
             @Agrega_Apos_Desconto,
             @APLICA_ESPELHO_ENTRADA,
             @ISENTO_OU_OUTROS,
             @Calculo_Decimal
        WHILE @@FETCH_STATUS = 0
        BEGIN
            SELECT @nTaxa = 0,
                   @nBase = 0,
                   @nValor = 0,
                   @lExisteImposto = 1
            --Calculando taxa do imposto que n?o ? especial                
            If (NOT RTRIM(@ISENTO_OU_OUTROS) = 'X')
                select @nTaxa = case
                                    when @Taxa_Imposto_Excecao > 0 then
                                        @Taxa_Imposto_Excecao
                                    else
                                        case
                                            when @Aliquota_Fixa = 1 then
                                                @Taxa_Imposto
                                            else
                                                0
                                        end
                                end
            Else
                select @lExisteImposto = 0
            -----------------------------------------------
            if @ID_Imposto = @cnICMS
            begin
                --LH
                If NOT (
                           RTRIM(@ISENTO_OU_OUTROS) = 'X'
                           OR @INDICADOR_CFOP = 89
                       ) --SERVI?OS DIVERSOS 
                BEGIN
                    SELECT @ICMS_SAIDA = ICMS_SAIDA
                    FROM UNIDADES_FEDERACAO_ICMS WITH (NOLOCK)
                    WHERE UF = @UF_ORIGEM
                          AND UF_DESTINO = @UF_DESTINO
                    select @nTaxa = case
                                        when @Taxa_Imposto_Excecao > 0 then
                                            @Taxa_Imposto_Excecao
                                        else
                                            case
                                                when @Aliquota_Fixa = 1 then
                                                    @Taxa_Imposto
                                                else
                                                    @ICMS_SAIDA
                                            end
                                    end
                END
                Else
                    select @lExisteImposto = 0
            end


            if @ID_Imposto = @cnIPI
            begin

                If NOT (
                           RTRIM(@ISENTO_OU_OUTROS) = 'X'
                           OR @INDICADOR_CFOP = 89
                       ) --SERVI?OS DIVERSOS 
                begin
                    SELECT @IPI_CALC = IPI
                    FROM Classif_Fiscal WITH (NOLOCK)
                    WHERE Classif_Fiscal = @CLASSIF_FISCAL
                    select @nTaxa = case
                                        when @Taxa_Imposto_Excecao > 0 then
                                            @Taxa_Imposto_Excecao
                                        else
                                            case
                                                when @Aliquota_Fixa = 1 then
                                                    @Taxa_Imposto
                                                else
                                                    @IPI_CALC
                                            end
                                    end
                end
                Else
                    select @lExisteImposto = 0
            end



            if @ID_Imposto = @cnINSS
            begin

                If (NOT RTRIM(@ISENTO_OU_OUTROS) = 'X')
                    select @nTaxa = case
                                        when @Taxa_Imposto_Excecao > 0 then
                                            @Taxa_Imposto_Excecao
                                        else
                                            case
                                                when @Aliquota_Fixa = 1 then
                                                    @Taxa_Imposto
                                                else
                                                    0
                                            end
                                    end
                Else
                    select @lExisteImposto = 0
            end

            if @ID_Imposto = @cnPIS
            begin


                If (NOT RTRIM(@ISENTO_OU_OUTROS) = 'X')
                    select @nTaxa = case
                                        when @Taxa_Imposto_Excecao > 0 then
                                            @Taxa_Imposto_Excecao
                                        else
                                            case
                                                when @Aliquota_Fixa = 1 then
                                                    @Taxa_Imposto
                                                else
                                                    0
                                            end
                                    end
                Else
                    select @lExisteImposto = 0
            end

            if @ID_Imposto = @cnCOFINS
            begin


                If (NOT RTRIM(@ISENTO_OU_OUTROS) = 'X')
                    select @nTaxa = case
                                        when @Taxa_Imposto_Excecao > 0 then
                                            @Taxa_Imposto_Excecao
                                        else
                                            case
                                                when @Aliquota_Fixa = 1 then
                                                    @Taxa_Imposto
                                                else
                                                    0
                                            end
                                    end
                Else
                    select @lExisteImposto = 0
            end
            if @ID_Imposto = @cnISS
            begin


                If (NOT RTRIM(@ISENTO_OU_OUTROS) = 'X')
                    select @nTaxa = case
                                        when @Taxa_Imposto_Excecao > 0 then
                                            @Taxa_Imposto_Excecao
                                        else
                                            case
                                                when @Aliquota_Fixa = 1 then
                                                    @Taxa_Imposto
                                                else
                                                    0
                                            end
                                    end
                Else
                    select @lExisteImposto = 0
            end

            If @lExisteImposto = 1
            begin

                -- DELETAR IMPOSTO DA NOTA
                DELETE LOJA_NOTA_FISCAL_IMPOSTO
                WHERE CODIGO_FILIAL = @CODIGO_FILIAL
                      AND NF_NUMERO = @NF_SAIDA
                      AND SERIE_NF = @SERIE_NF
                      AND ITEM_IMPRESSAO = @ITEM_IMPRESSAO
                      AND ID_IMPOSTO = @ID_IMPOSTO

                If @nTaxa = 0
                begin
                    select @nTaxa = 0,
                           @nBase = 0,
                           @nValor = 0
                end
                Else
                begin


                    select @nBase = @Valor_Item + case
                                                      when @ID_Imposto = 1 then
                                                          @base_adicional
                                                      else
                                                          0
                                                  end

                    If @Agrega_Apos_Encargo = 1
                    begin
                        select @nBase = (@nBase + @valor_encargos)
                    End

                    If @Agrega_Apos_Desconto = 1
                    begin
                        select @nBase = (@nBase - @valor_descontos)
                    End

                    --Aplicando a redu??o de base
                    select @nBase = (@nBase * ((100 - @Porcent_Reducao_de_Base) / 100.00))
                    select @nValor = case
                                         when (@Calculo_Decimal in ( 0, 2 )) then
                                             Round(((@nBase * @nTaxa) / 100.00), 2)
                                         else
                                             convert(Int, (@nBase * @nTaxa)) / 100.00
                                     end
                    if @indica_consumidor_final = 1
                       and @ID_Imposto = 2
                        select @base_adicional = @nValor

                End

                --Inserindo impostos
                INSERT INTO LOJA_NOTA_FISCAL_IMPOSTO
                (
                    CODIGO_FILIAL,
                    NF_NUMERO,
                    SERIE_NF,
                    Item_Impressao,
                    Sub_Item_Tamanho,
                    ID_Imposto,
                    Taxa_Imposto,
                    Base_Imposto,
                    Valor_Imposto,
                    Incidencia,
                    Agrega_Apos_Encargo,
                    Agrega_Apos_Desconto
                )
                SELECT @CODIGO_FILIAL,
                       @NF_SAIDA,
                       @SERIE_NF,
                       @Item_Impressao,
                       @Sub_Item_Tamanho,
                       @ID_Imposto,
                       CASE
                           WHEN @nBase = 0 THEN
                               0
                           ELSE
                               @nTaxa
                       END,
                       @nBase,
                       @nValor,
                       @Incidencia,
                       @Agrega_Apos_Encargo,
                       @Agrega_Apos_Desconto
                WHERE NOT EXISTS
                (
                    SELECT 1
                    FROM LOJA_NOTA_FISCAL_IMPOSTO WITH (NOLOCK)
                    WHERE CODIGO_FILIAL = @CODIGO_FILIAL
                          AND NF_NUMERO = @NF_SAIDA
                          AND SERIE_NF = @SERIE_NF
                          AND ITEM_IMPRESSAO = @ITEM_IMPRESSAO
                          AND ID_IMPOSTO = @ID_IMPOSTO
                )


            end
            --SELECT 'FINAL DO WHILE DO SEGUNDO CURSOR - GERANDO IMPOSTO' + ' - ITEM - ' + CONVERT(VARCHAR,@ITEM_IMPRESSAO) +    '- IMPOSTO - ' + CONVERT(VARCHAR,@Imposto) + CONVERT(VARCHAR,GETDATE(),113)

            FETCH NEXT FROM CUR_IMPOSTOS
            INTO @ID_Imposto,
                 @Imposto,
                 @Incidencia,
                 @Porcent_Reducao_de_Base,
                 @Aliquota_Fixa,
                 @Taxa_Imposto_Excecao,
                 @Taxa_Imposto,
                 @Agrega_Apos_Encargo,
                 @Agrega_Apos_Desconto,
                 @APLICA_ESPELHO_ENTRADA,
                 @ISENTO_OU_OUTROS,
                 @Calculo_Decimal
        End -- Impostos 

        CLOSE CUR_IMPOSTOS
        DEALLOCATE CUR_IMPOSTOS
        FETCH NEXT FROM CUR_ITENS
        INTO @ITEM_IMPRESSAO,
             @SUB_ITEM_TAMANHO,
             @ID_EXCECAO_IMPOSTO,
             @VALOR_ENCARGOS,
             @VALOR_DESCONTOS,
             @VALOR_ITEM,
             @INDICADOR_CFOP,
             @valor_encargos_importacao,
             @CLASSIF_FISCAL
    --SELECT 'FINAL DO WHILE DO PRIMEIRO CURSOR - ITENS' + ' - ITEM - ' + CONVERT(VARCHAR,@ITEM_IMPRESSAO) +CONVERT(VARCHAR,GETDATE(),113)        
    End --Itens Fiscais
    CLOSE CUR_ITENS
    DEALLOCATE CUR_ITENS
    SET NOCOUNT OFF
END